USE [master]
GO
/****** Object:  Database [YoorCityProd]    Script Date: 12/8/2014 9:14:35 AM ******/
CREATE DATABASE [YoorCityProd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YoorCityProd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\YoorCityProd.mdf' , SIZE = 40128KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YoorCityProd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\YoorCityProd_log.ldf' , SIZE = 138496KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YoorCityProd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YoorCityProd]
GO
/****** Object:  User [REDMOND\JAHMAI-LAPTOP$]    Script Date: 12/8/2014 9:14:35 AM ******/
CREATE USER [REDMOND\JAHMAI-LAPTOP$] FOR LOGIN [REDMOND\JAHMAI-LAPTOP$] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [REDMOND\JAHMAI-LAPTOP$]
GO
ALTER ROLE [db_datareader] ADD MEMBER [REDMOND\JAHMAI-LAPTOP$]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [REDMOND\JAHMAI-LAPTOP$]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[BirthDate] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[About] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Region] [nvarchar](512) NULL,
	[Country] [nvarchar](512) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](1024) NULL,
	[Logo] [nvarchar](250) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_Companies_IsActive]  DEFAULT ((1)),
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Companies_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventComments]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventComments](
	[EventId] [bigint] NOT NULL,
	[CommentId] [bigint] NOT NULL,
 CONSTRAINT [PK_EventComments] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventPosts]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventPosts](
	[EventId] [bigint] NOT NULL,
	[PostId] [bigint] NOT NULL,
 CONSTRAINT [PK_EventPosts] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventRSVPs]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRSVPs](
	[EventId] [bigint] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[IsAttending] [bit] NOT NULL CONSTRAINT [DF_EventRSVPs_RSVPValue]  DEFAULT ((0)),
	[SendNotificiations] [bit] NOT NULL CONSTRAINT [DF_EventRSVPs_SendNotificiations]  DEFAULT ((1)),
	[IsWaitlisted] [int] NOT NULL CONSTRAINT [DF_EventRSVPs_IsWaitlisted]  DEFAULT ((0)),
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_EventRSVPs_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedDate] [datetime] NULL CONSTRAINT [DF_EventRSVPs_LastUpdatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EventRSVPs] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[GroupId] [bigint] NULL,
	[Description] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NOT NULL,
	[HostPerson] [uniqueidentifier] NULL,
	[MaxAttendees] [int] NULL,
	[RSVPStartTime] [datetime] NULL,
	[RSVPEndTime] [datetime] NULL,
	[IsActive] [bit] NULL,
	[FrequencyType] [int] NULL,
	[AnniversaryMonth] [int] NULL,
	[AnniversaryDay] [int] NULL,
	[MonthRangeStartMonth] [int] NULL,
	[MonthRangeStartDayMonth] [int] NULL,
	[MonthRangeEndMonth] [int] NULL,
	[MonthRangeEndDayMonth] [int] NULL,
	[OneTimeOnlyEventDate] [datetime] NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Frequency] [int] NULL,
	[RepeatInterval] [int] NULL,
	[QuarterInterval] [int] NULL,
	[QuarterlyInterval] [int] NULL,
	[MonthlyInterval] [int] NULL,
	[DaysOfWeek] [int] NULL,
	[NumberOfOccurrencesThatWasLastSet] [int] NULL,
	[QuarterlyOptions] [int] NULL,
	[QuarterlyIntervalOptions] [int] NULL,
	[MonthlyIntervalOptions] [int] NULL,
	[DaysOfWeekOptions] [int] NULL,
	[DayOfMonth] [int] NULL,
	[ParentId] [bigint] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_Events_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Intros]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intros](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NULL,
	[Title] [nvarchar](1024) NULL,
	[Description] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](2048) NULL,
	[Images] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Intros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[QuestionId] [bigint] NOT NULL,
	[ParentMessageId] [bigint] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_Messages_IsActive]  DEFAULT ((1)),
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Messages_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostComments]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [bigint] NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[CommentedDate] [datetime2](7) NOT NULL,
	[CommentedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__PostComm__C3B4DFCABC3CDCF8] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NULL,
	[Message] [varchar](max) NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
	[PostedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Posts__AA126018BF23CCA3] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductExperts]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductExperts](
	[ExperId] [uniqueidentifier] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[WeekStart] [datetime] NOT NULL,
	[AnswerRate] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_ProductExperts] PRIMARY KEY CLUSTERED 
(
	[ExperId] ASC,
	[ProductId] ASC,
	[WeekStart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)),
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_Products_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [bigint] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1024) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[ProductId] [bigint] NULL,
	[Views] [int] NOT NULL CONSTRAINT [DF_Questions_Views]  DEFAULT ((0)),
	[State] [int] NOT NULL CONSTRAINT [DF_Questions_State]  DEFAULT ((0)),
	[IsActive] [bit] NULL CONSTRAINT [DF_Questions_IsActive]  DEFAULT ((1)),
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_Questions_CreatedDate]  DEFAULT (getutcdate()),
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IconUrl] [nvarchar](256) NULL,
	[Related] [varchar](2048) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL DEFAULT (getutcdate()),
	[ParentId] [bigint] NULL,
 CONSTRAINT [PK_CardTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserCompanies]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompanies](
	[UserId] [uniqueidentifier] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserCompanies] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[NotificationType] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[IsViewed] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [uniqueidentifier] NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_UserNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProducts]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProducts](
	[UserId] [uniqueidentifier] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[DateAdded] [datetime] NOT NULL CONSTRAINT [DF_UserProducts_DateAdded]  DEFAULT (getutcdate()),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_UserProducts_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_UserProducts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[AvatarExt] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTags]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTags](
	[UserId] [nvarchar](128) NOT NULL,
	[TagId] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserTags] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Votes]    Script Date: 12/8/2014 9:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CardId] [bigint] NOT NULL,
	[Value] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Votes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0CE45828-C96F-4303-9B1B-3769C48A8704', N'Group Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3B82C716-8137-4132-B9DF-54B7D0617615', N'Organizer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6D996D70-5702-4704-AE12-E72A0463515C', N'Owner')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'10152492647437485', N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
INSERT [dbo].[AspNetUsers] ([Id], [BirthDate], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Location], [DisplayName], [Avatar], [About]) VALUES (N'250D4FCE-70D7-4245-8B6E-476A698F47E2', NULL, N'jahmai.osullivan+10@gmail.com', 1, NULL, N'830fa377-232a-4557-a3ca-068975384da1', NULL, 0, 1, NULL, 1, 0, N'User10', N'Seattle, WA', N'User Ten', N'http://html.creaws.com/the8/pic/recent-photos/item-5.jpg', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [BirthDate], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Location], [DisplayName], [Avatar], [About]) VALUES (N'2F7D4325-542D-44BE-A2A4-30DB1D2FF0B5', NULL, N'jahmai.osullivan+5@gmail.com', 1, NULL, N'830fa377-232a-4557-a3ca-068975384da1', NULL, 0, 1, NULL, 1, 0, N'User5', N'Seattle, WA', N'User Five', N'http://html.creaws.com/the8/pic/recent-photos/item-4.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Region], [Country]) VALUES (1, N'Seattle', N'WA', N'United States')
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Name], [Description], [Location], [Logo], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'Microsoft', N'World''s largest software company', N'1 Microsoft Way', N'https://c.s-microsoft.com/en-us/CMSImages/mslogo.png?version=856673f8-e6be-0476-6669-d5bf2300391d', 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-21 02:55:36.543' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
INSERT [dbo].[EventPosts] ([EventId], [PostId]) VALUES (54, 1017)
INSERT [dbo].[EventPosts] ([EventId], [PostId]) VALUES (54, 1018)
INSERT [dbo].[EventPosts] ([EventId], [PostId]) VALUES (54, 1019)
INSERT [dbo].[EventRSVPs] ([EventId], [CreatedBy], [IsAttending], [SendNotificiations], [IsWaitlisted], [CreatedDate], [LastUpdatedDate], [LastUpdatedBy]) VALUES (54, N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3', 1, 1, 0, CAST(N'2014-10-28 03:35:23.700' AS DateTime), CAST(N'2014-10-28 03:35:23.700' AS DateTime), NULL)
INSERT [dbo].[EventRSVPs] ([EventId], [CreatedBy], [IsAttending], [SendNotificiations], [IsWaitlisted], [CreatedDate], [LastUpdatedDate], [LastUpdatedBy]) VALUES (55, N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3', 0, 1, 0, CAST(N'2014-10-28 03:44:50.803' AS DateTime), CAST(N'2014-10-28 03:44:50.803' AS DateTime), NULL)
INSERT [dbo].[EventRSVPs] ([EventId], [CreatedBy], [IsAttending], [SendNotificiations], [IsWaitlisted], [CreatedDate], [LastUpdatedDate], [LastUpdatedBy]) VALUES (70, N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3', 0, 1, 0, CAST(N'2014-10-28 03:43:54.370' AS DateTime), CAST(N'2014-10-28 03:43:54.370' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Name], [GroupId], [Description], [Images], [Location], [HostPerson], [MaxAttendees], [RSVPStartTime], [RSVPEndTime], [IsActive], [FrequencyType], [AnniversaryMonth], [AnniversaryDay], [MonthRangeStartMonth], [MonthRangeStartDayMonth], [MonthRangeEndMonth], [MonthRangeEndDayMonth], [OneTimeOnlyEventDate], [StartDateTime], [EndDateTime], [Frequency], [RepeatInterval], [QuarterInterval], [QuarterlyInterval], [MonthlyInterval], [DaysOfWeek], [NumberOfOccurrencesThatWasLastSet], [QuarterlyOptions], [QuarterlyIntervalOptions], [MonthlyIntervalOptions], [DaysOfWeekOptions], [DayOfMonth], [ParentId], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (27, N'Ballard Board Games with Sam', 635490359311276400, N'<ul>
<li>
<div><span>Thursdays in Ballard are for party games...and whatever else we decide to play. come join us at Miro Tea for a fun night of games and merriment. Never been before? come on over! we are super friendly. Have a game you would like to play? Bring it
 along! we are always looking to learn new games. we will have a collection there, as well as whatever everyone else brings. &nbsp;Hope to see you all there. (ps. if you are on the waiting list just show up anyway we have plenty of space)</span></div>
</li></ul>', NULL, N'Miro Tea, Ballard Avenue Northwest, Seattle, WA, United States', N'00000000-0000-0000-0000-000000000000', 21, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2014-09-29 21:46:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3', CAST(N'2014-10-16 06:01:14.180' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Intros] ON 

INSERT [dbo].[Intros] ([Id], [CompanyId], [Title], [Description], [VideoUrl], [Images], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, 1, N'Test 123', N'Thus us a test', N'', N'https://yoorcity.blob.core.windows.net/categoryimages/2CHRCzLqSRuVRMdneTTS_unspash_003.jpg', 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-21 02:55:36.543' AS DateTime), NULL, NULL)
INSERT [dbo].[Intros] ([Id], [CompanyId], [Title], [Description], [VideoUrl], [Images], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, 1, N'This is second one', N'Welcome here and there', N'', N'https://yoorcity.blob.core.windows.net/categoryimages/biking.jpg,https://yoorcity.blob.core.windows.net/categoryimages/A-Place-Under-The-Trees-license-free-CC0-980x649.jpg', 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-21 03:01:14.277' AS DateTime), NULL, NULL)
INSERT [dbo].[Intros] ([Id], [CompanyId], [Title], [Description], [VideoUrl], [Images], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (3, 1, N'This is a third test', N'Where is this?', N'', N'https://yoorcity.blob.core.windows.net/categoryimages/biking.jpg,https://yoorcity.blob.core.windows.net/categoryimages/black-and-white-field-jogger-1219.jpg', 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-21 03:43:41.890' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Intros] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'<p>My first reply</p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 02:34:45.593' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, N'<p>My second reply</p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 02:35:22.503' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (3, N'<p>My third reply</p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 02:35:39.997' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (10, N'<p>Can I reply with code dude?</p>

<p><pre class=''prettyprint''><code>&lt;li class=&quot;in&quot;&gt;
                    &lt;div class=&quot;message&quot;&gt;
                        &lt;p class=&quot;body&quot; data-bind=&quot;html: body&quot;&gt;&lt;/p&gt;
                        &lt;div class=&quot;clearfix&quot; style=&quot;padding: 5px;&quot;&gt;
                            &lt;a href=&quot;#&quot; class=&quot;reply&quot; style=&quot;display: block;float: right;padding: 0 15px;border-radius: 5px;background: #037cff;font-size: 13px;line-height: 23px;color: #fff;&quot;&gt;Reply &amp;nbsp;&lt;i class=&quot;fa fa-reply&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/li&gt;</code></pre></p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 02:59:49.950' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (11, N'<p>Prettyprint me on the fly mofo:</p>

<p><pre class=''prettyprint''><code>function resizeDiv() {
        var vph = 0.88 * $(window).height();
        var innervph = 0.75 * $(window).height();
        $(&#39;#chats&#39;).css({ &#39;height&#39;: innervph + &#39;px&#39; });
        $(&#39;#questionModalContent&#39;).css({ &#39;height&#39;: vph + &#39;px&#39; });
    }</code></pre></p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 03:04:18.970' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (12, N'<p>Let&#39;s try this again:</p>

<p><pre class=''prettyprint''><code>function (editor) {
                    var questionItem = { Title: $(&#39;#questions&#39;).find(&#39;.newTitle&#39;).val(), Body: editor.parseContent(), ProductId: viewModel.id() };
                    $.ajax({
                        beforeSend: function (request) {
                            request.setRequestHeader(&quot;RequestVerificationToken&quot;, &#39;@Html.TokenHeaderValue()&#39;);
                        },
                        url: &#39;/api/questions&#39;,
                        type: &#39;POST&#39;,
                        data: JSON.stringify(questionItem),
                        dataType: &quot;json&quot;,
                        contentType: &quot;application/json; charset=utf-8&quot;,
                        success: function (item) {
                            var newQuestion = ko.mapping.fromJS(item);
                            viewModel.questions.unshift(newQuestion);
                            window.prettyPrint &amp;&amp; prettyPrint();
                        },
                        error: function (jqXHR, textStatus, errorThrown) { }
                    });
              }</code></pre></p>', 63, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-26 03:05:35.983' AS DateTime), NULL, NULL)
INSERT [dbo].[Messages] ([Id], [Body], [QuestionId], [ParentMessageId], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (43, N'<p>Put some code in this bitch.</p>

<p><pre class=''prettyprint''><code>CreateMap&lt;DiscussionMessagesDto, MessageListViewModel&gt;()
                .AfterMap&lt;MessageListViewModelMappingAction&gt;()
                .ForMember(d =&gt; d.ShowDeletedMessages, opts =&gt; opts.ResolveUsing&lt;ShowDeletedMessagesResolver&gt;())
                .ForMember(d =&gt; d.ShowRoot, opts =&gt; opts.UseValue(false))
                .ForMember(d =&gt; d.ViewMode, opts =&gt; opts.ResolveUsing&lt;ViewModeResolver&gt;())
                .ForMember(d =&gt; d.AllUserRoles, opts =&gt; opts.Ignore())
                .ForMember(d =&gt; d.MessagesViewModel, opts =&gt; opts.Ignore());</code></pre></p>', 63, 40, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-28 00:57:47.320' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[PostComments] ON 

INSERT [dbo].[PostComments] ([CommentId], [PostId], [Message], [CommentedDate], [CommentedBy]) VALUES (5, 7, N'Comment 1', CAST(N'2014-10-19 22:58:22.9870000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
INSERT [dbo].[PostComments] ([CommentId], [PostId], [Message], [CommentedDate], [CommentedBy]) VALUES (6, 7, N'Comment 2', CAST(N'2014-10-19 23:09:54.9730000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
INSERT [dbo].[PostComments] ([CommentId], [PostId], [Message], [CommentedDate], [CommentedBy]) VALUES (7, 7, N'Comment 3', CAST(N'2014-10-19 23:44:59.0430000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
SET IDENTITY_INSERT [dbo].[PostComments] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostId], [CompanyId], [Message], [PostedDate], [PostedBy]) VALUES (3, NULL, N'Saving a new one here', CAST(N'2014-10-19 22:32:39.1530000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
INSERT [dbo].[Posts] ([PostId], [CompanyId], [Message], [PostedDate], [PostedBy]) VALUES (4, NULL, N'Making a second post', CAST(N'2014-10-19 22:34:39.4630000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
INSERT [dbo].[Posts] ([PostId], [CompanyId], [Message], [PostedDate], [PostedBy]) VALUES (5, NULL, N'Third post', CAST(N'2014-10-19 22:45:39.1100000' AS DateTime2), N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3')
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CompanyId], [Name], [Description], [LogoUrl], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, 1, N'Visual Studio Online', N'A place to save all your open source project', N'http://cdn1.visualstudio.com/dynimg/IC764909.png', 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-24 00:26:20.050' AS DateTime), NULL, NULL)
INSERT [dbo].[Products] ([Id], [CompanyId], [Name], [Description], [LogoUrl], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (3, 1, N'SQL Server', N'Microsoft SQL Server Database Management System', NULL, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-12-06 20:40:54.907' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'I will ask this question. Tell me no lie', N'This is the first question', 1, 0, 1, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 04:29:47.977' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, N'This is the fifth question I think', N'This is the first question', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 04:31:55.303' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (3, N'This is the sixth question', N'Sixth question', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 04:35:53.257' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (7, N'Debug Error', N'Hi all,

I have solution in which lot of project are added. In this solution 1 project is giving a below error. And platform of this project is WIN32.

Error	4	error C3688: invalid literal suffix ''__LPREFIX''; literal operator or literal operator template ''operator ""__LPREFIX'' not found	C:\Subversion\VS2014\Runtime Infrastructure\Protocol Adapters\ProtocolAdapter\Socket.cpp	137	1	ProtocolAdapter

Please any one suggest me how to solve this error.', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 05:37:50.343' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (8, N'Webtests failing just because one asset on the page is throwing 404', N'I am using the availability monitoring for my Azure website. On my homepage I have a bunch of images that are hosted off-site by a 3rd party. When my webtests run, they''re all "failing" because one of these images returns a 404. I don''t have any control over this and it would be nice if since the homepage returned 200 OK the test would be considered passing.

Besides pointing to a different (empty?) page, is there a way to fix this so webtests ignore assets on the page?', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 05:53:58.067' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (9, N'How do I get a report for lines of code added to a project over a day, week, etc.?', N'Hi,

VS2013, TFS2013, SQL2012

I haven''t started to use reporting services for TFS yet, so I would ask any answers to this include a short comment and/or guidance on where to start along with the answer.  I believe I recall reporting was included in my TFS installation.

I''m presuming that retrieving the "lines of code added to a project" is something many people have already solved and I''m hoping I can leverage that.

Is there a separate process to accomplish this from within Visual Studio for a given project if one is working alone?

Thanks.

Best Regards,

Alan', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 05:54:20.410' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (16, N'Add some code', N'`function balanceTags(html) {

        if (html == "")
            return "";

        var re = /<\/?\w+[^>]*(\s|$|>)/g;
        // convert everything to lower case; this makes
        // our case insensitive comparisons easier
        var tags = html.toLowerCase().match(re);

        // no HTML tags present? nothing to do; exit now
        var tagcount = (tags || []).length;
        if (tagcount == 0)
            return html;

        var tagname, tag;
        var ignoredtags = "<p><img><br><li><hr>";
        var match;
        var tagpaired = [];
        var tagremove = [];
        var needsRemoval = false;

        // loop through matched tags in forward order
        for (var ctag = 0; ctag < tagcount; ctag++) {
            tagname = tags[ctag].replace(/<\/?(\w+).*/, "$1");
            // skip any already paired tags
            // and skip tags in our ignore list; assume they''re self-closed
            if (tagpaired[ctag] || ignoredtags.search("<" + tagname + ">") > -1)
                continue;

            tag = tags[ctag];
            match = -1;

            if (!/^<\//.test(tag)) {
                // this is an opening tag
                // search forwards (next tags), look for closing tags
                for (var ntag = ctag + 1; ntag < tagcount; ntag++) {
                    if (!tagpaired[ntag] && tags[ntag] == "</" + tagname + ">") {
                        match = ntag;
                        break;
                    }
                }
            }

            if (match == -1)
                needsRemoval = tagremove[ctag] = true; // mark for removal
            else
                tagpaired[match] = true; // mark paired
        }

        if (!needsRemoval)
            return html;

        // delete all orphaned tags from the string

        var ctag = 0;
        html = html.replace(re, function (match) {
            var res = tagremove[ctag] ? "" : match;
            ctag++;
            return res;
        });
        return html;
    }`', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 08:05:33.903' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (17, N'Some more code', N'<p><pre  class="prettyprint"><code>&lt;form&gt;
    &lt;input name=&quot;title&quot; type=&quot;text&quot; placeholder=&quot;Title?&quot; /&gt;
    &lt;textarea name=&quot;content&quot; data-provide=&quot;markdown&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt;
    &lt;label class=&quot;checkbox&quot;&gt;
      &lt;input name=&quot;publish&quot; type=&quot;checkbox&quot;&gt; Publish
    &lt;/label&gt;
    &lt;hr/&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Submit&lt;/button&gt;
  &lt;/form&gt;</code> </pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 08:14:03.110' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (18, N'Using form code', N'<p><pre  class="prettyprint"><code>&lt;form&gt;
    &lt;input name=&quot;title&quot; type=&quot;text&quot; placeholder=&quot;Title?&quot; /&gt;
    &lt;textarea name=&quot;content&quot; data-provide=&quot;markdown&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt;
    &lt;label class=&quot;checkbox&quot;&gt;
      &lt;input name=&quot;publish&quot; type=&quot;checkbox&quot;&gt; Publish
    &lt;/label&gt;
    &lt;hr/&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Submit&lt;/button&gt;
  &lt;/form&gt;</code> </pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 08:21:03.447' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (19, N'Different code', N'<pre class="prettyprint">
<code>	$.each(form.serializeArray(),function(k,v){
		formResult.push(v.name+&#39; =&gt; &#39;+v.value)
	})

	res.html(&#39;\n&#39;+formResult.join(&#39;\n\n&#39;)+&#39;\n&#39;)
	form.replaceWith(res)

	return false
})`</code></pre>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 08:39:15.840' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (20, N'Code stop doing this to me', N'<p><code>&lt;form&gt;
    &lt;input name=&quot;title&quot; type=&quot;text&quot; placeholder=&quot;Title?&quot; /&gt;
    &lt;textarea name=&quot;content&quot; data-provide=&quot;markdown&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt;
    &lt;label class=&quot;checkbox&quot;&gt;
      &lt;input name=&quot;publish&quot; type=&quot;checkbox&quot;&gt; Publish
    &lt;/label&gt;
    &lt;hr/&gt;
    &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Submit&lt;/button&gt;
  &lt;/form&gt; </code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 08:48:15.023' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (26, N'Okay I can do this', N'<p>`{
          name: &#39;cmdCode&#39;,
          hotkey: &#39;Ctrl+K&#39;,
          title: &#39;Code&#39;,
          icon: { glyph: &#39;glyphicon glyphicon-asterisk&#39;, fa: &#39;fa fa-code&#39;, &#39;fa-3&#39;: &#39;icon-code&#39; },
          callback: function(e) {</p>

<pre><code>        // Give/remove ** surround the selection
        var chunk, cursor, selected = e.getSelection(), content = e.getContent()

        if (selected.length == 0) {
          // Give extra word
          chunk = e.__localize(&#39;code text here&#39;)
        } else {
          chunk = selected.text
        }

        // transform selection and set the cursor into chunked text
        if (content.substr(selected.start-1,1) == &#39;`&#39;
            &amp;&amp; content.substr(selected.end,1) == &#39;`&#39; ) {
          e.setSelection(selected.start-1,selected.end+1)
          e.replaceSelection(chunk)
          cursor = selected.start-1
        } else {
          e.replaceSelection(&#39;`&#39;+chunk+&#39;`&#39;)
          cursor = selected.start+1
        }

        // Set the cursor
        e.setSelection(cursor,cursor+chunk.length)
      }
    }`</code></pre>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:20:23.857' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (27, N'Execute this code', N'<p>`var content = [];</p>

<p>  if ( options.root ) {
    content.push( render_tree( jsonml ) );
  }
  else {
    jsonml.shift(); // get rid of the tag
    if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) {
      jsonml.shift(); // get rid of the attributes
    }</p>

<pre><code>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}</code></pre>

<p>  }`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:22:55.297' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (28, N'Try again', N'<p>`var content = [];</p>

<p>  if ( options.root ) {
    content.push( render_tree( jsonml ) );
  }
  else {
    jsonml.shift(); // get rid of the tag
    if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) {
      jsonml.shift(); // get rid of the attributes
    }</p>

<pre><code>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}</code></pre>

<p>  }`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:26:19.947' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (29, N'Mix and match', N'<p>This is mix and match</p>

<p>`var content = [];</p>

<p>if ( options.root ) { content.push( render_tree( jsonml ) ); } else { jsonml.shift(); // get rid of the tag if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) { jsonml.shift(); // get rid of the attributes }</p>

<p>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}
}`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:27:21.237' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (30, N'Why not wrapping all code?', N'<p>`var content = [];</p>

<p>  if ( options.root ) {
    content.push( render_tree( jsonml ) );
  }
  else {
    jsonml.shift(); // get rid of the tag
    if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) {
      jsonml.shift(); // get rid of the attributes
    }</p>

<pre><code>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}</code></pre>

<p>  }`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:29:22.003' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (31, N'Change the dialect?', N'<p>`var content = [];</p>

<p>  if ( options.root ) {
    content.push( render_tree( jsonml ) );
  }
  else {
    jsonml.shift(); // get rid of the tag
    if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) {
      jsonml.shift(); // get rid of the attributes
    }</p>

<pre><code>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}</code></pre>

<p>  }`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:30:17.390' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (32, N'Try again?', N'<p>`var content = [];</p>

<p>  if ( options.root ) {
    content.push( render_tree( jsonml ) );
  }
  else {
    jsonml.shift(); // get rid of the tag
    if ( jsonml.length &amp;&amp; typeof jsonml[ 0 ] === &quot;object&quot; &amp;&amp; !( jsonml[ 0 ] instanceof Array ) ) {
      jsonml.shift(); // get rid of the attributes
    }</p>

<pre><code>while ( jsonml.length ) {
  content.push( render_tree( jsonml.shift() ) );
}</code></pre>

<p>  }`</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:31:11.917' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (33, N'Ha, no multiblock support', N'<p><code>var content = [];</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:32:15.987' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (35, N'With markdown', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:41:20.640' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (36, N'Wow try again', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:42:03.573' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (37, N'One more', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:42:49.717' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (38, N'Ok again', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:44:16.883' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (39, N'Room service', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:50:28.840' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (40, N'Way too far', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:51:01.310' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (41, N'50 miles away', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:53:55.013' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (42, N'Code tag', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:55:35.567' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (43, N'This thing hates me', N'<p><pre class=''prettyprint''><code/></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:57:19.560' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (44, N'Where is the code being wrapped', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 09:59:05.773' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (45, N'This thing sucks', N'<p><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:00:37.527' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (46, N'That was hard', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:00:58.420' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (47, N'Prettyprint this motherfucker', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:02:32.530' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (48, N'Please let me sleep you bastard', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:03:31.957' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (49, N'Just work god dammit', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:03:51.827' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (50, N'What next?', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:04:25.910' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (51, N'This just might work', N'<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:06:25.610' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (52, N'Fina fucking ly', N'<p>Here is the code I want to show you:</p>

<p><pre class=''prettyprint''><code>function enableCloseOnClickOutsideNewQuestion() {
            $(&#39;html&#39;).click(function (e) {
                if ($.trim($(&#39;#askaquestion&#39;).val()) == &#39;&#39; &amp;&amp; $.trim($(&#39;#askaquestioneditor&#39;).val()) == &#39;&#39; &amp;&amp; $(e.target).closest(&quot;#askaquestioncontainer&quot;).length == 0) {
                    $(&#39;.closeEditor&#39;).click();
                    $(&#39;html&#39;).unbind(&#39;click&#39;);
                }
            });
        }</code></pre></p>

<p>Love it please</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 10:07:13.097' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (53, N'Let''s try this form code thing again', N'<p><pre class=''prettyprint''><code>&lt;form&gt; &lt;input name=&quot;title&quot; type=&quot;text&quot; placeholder=&quot;Title?&quot; /&gt; &lt;textarea name=&quot;content&quot; data-provide=&quot;markdown&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt; &lt;label class=&quot;checkbox&quot;&gt; &lt;input name=&quot;publish&quot; type=&quot;checkbox&quot;&gt; Publish &lt;/label&gt; &lt;hr/&gt; &lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Submit&lt;/button&gt; &lt;/form&gt;</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 19:12:36.153' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (54, N'Form code with spacing?', N'<p><pre class=''prettyprint''><code>&lt;form method=&quot;POST&quot;&gt;
                                &lt;div class=&quot;input-group&quot;&gt;
                                    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search...&quot;&gt;
                                    &lt;span class=&quot;input-group-btn&quot; style=&quot;visibility: hidden;&quot;&gt;
                                        &lt;a href=&quot;javascript:;&quot; class=&quot;btn submit&quot;&gt;&lt;i class=&quot;icon-magnifier&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;</code></pre></p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 19:13:08.647' AS DateTime), NULL, NULL)
INSERT [dbo].[Questions] ([Id], [Title], [Body], [ProductId], [Views], [State], [IsActive], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (55, N'No code in this one', N'<p>&lt;form method=&quot;POST&quot;&gt;
                                &lt;div class=&quot;input-group&quot;&gt;
                                    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Search...&quot;&gt;
                                    &lt;span class=&quot;input-group-btn&quot; style=&quot;visibility: hidden;&quot;&gt;
                                        &lt;a href=&quot;javascript:;&quot; class=&quot;btn submit&quot;&gt;&lt;i class=&quot;icon-magnifier&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;</p>', 1, 0, 0, 1, N'4696d532-a636-4e04-8b7c-c591f76a541a', CAST(N'2014-11-25 19:13:23.473' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name], [Description], [IconUrl], [Related], [CreatedBy], [IsActive], [CreatedDate], [ParentId]) VALUES (1, N'Tag1', NULL, NULL, NULL, N'ddad4f30-3b2c-4d36-bc3d-f6e8c6984cf3', 1, CAST(N'2014-10-01 03:58:08.387' AS DateTime), NULL)
INSERT [dbo].[Tags] ([Id], [Name], [Description], [IconUrl], [Related], [CreatedBy], [IsActive], [CreatedDate], [ParentId]) VALUES (2, N'Art', NULL, NULL, NULL, NULL, 1, CAST(N'2014-10-01 03:58:56.443' AS DateTime), NULL)
INSERT [dbo].[Tags] ([Id], [Name], [Description], [IconUrl], [Related], [CreatedBy], [IsActive], [CreatedDate], [ParentId]) VALUES (3, N'Business', NULL, NULL, NULL, NULL, 1, CAST(N'2014-10-01 03:59:07.500' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tags] OFF
INSERT [dbo].[UserProducts] ([UserId], [ProductId], [DateAdded], [IsActive]) VALUES (N'4696d532-a636-4e04-8b7c-c591f76a541a', 1, CAST(N'2014-12-06 20:42:30.270' AS DateTime), 1)
INSERT [dbo].[UserProducts] ([UserId], [ProductId], [DateAdded], [IsActive]) VALUES (N'4696d532-a636-4e04-8b7c-c591f76a541a', 3, CAST(N'2014-12-06 20:41:59.773' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([UserId], [UserName], [AvatarExt]) VALUES (1, N'Jahmai', NULL)
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/8/2014 9:14:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CK_Tags_UniqueName]    Script Date: 12/8/2014 9:14:36 AM ******/
ALTER TABLE [dbo].[Tags] ADD  CONSTRAINT [CK_Tags_UniqueName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Votes_Card_User]    Script Date: 12/8/2014 9:14:36 AM ******/
ALTER TABLE [dbo].[Votes] ADD  CONSTRAINT [Votes_Card_User] UNIQUE NONCLUSTERED 
(
	[CardId] ASC,
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_StartTime]  DEFAULT (getutcdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_IsViewed]  DEFAULT ((0)) FOR [IsViewed]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_IsActive1]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserNotifications] ADD  CONSTRAINT [DF_UserNotifications_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserTags] ADD  CONSTRAINT [DF_UserTags_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Votes] ADD  CONSTRAINT [DF_Votes_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EventPosts]  WITH CHECK ADD  CONSTRAINT [FK_EventPosts_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[EventPosts] CHECK CONSTRAINT [FK_EventPosts_Events]
GO
ALTER TABLE [dbo].[Intros]  WITH CHECK ADD  CONSTRAINT [FK_Intros_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Intros] CHECK CONSTRAINT [FK_Intros_Companies]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Questions]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Companies]
GO
ALTER TABLE [dbo].[ProductExperts]  WITH CHECK ADD  CONSTRAINT [FK_ProductExperts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductExperts] CHECK CONSTRAINT [FK_ProductExperts_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Companies]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Products]
GO
ALTER TABLE [dbo].[UserProducts]  WITH CHECK ADD  CONSTRAINT [FK_UserProducts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[UserProducts] CHECK CONSTRAINT [FK_UserProducts_Products]
GO
ALTER TABLE [dbo].[UserTags]  WITH CHECK ADD  CONSTRAINT [FK_UserTags_Users] FOREIGN KEY([UserId], [TagId])
REFERENCES [dbo].[UserTags] ([UserId], [TagId])
GO
ALTER TABLE [dbo].[UserTags] CHECK CONSTRAINT [FK_UserTags_Users]
GO
USE [master]
GO
