@using Teamroom.Web.Views
<div class="item item-art">
    <div class="pic">
        <div>
            <img src="~/Content/pic/portfolio/small-1.jpg" alt="">
            <span></span>
            <ul>
                <li>
                    <a href="~/Content/pic/portfolio/huge-2.jpg" class="fa fa-camera fancybox"></a>
                    <div style="display: none;">
                        <a class="fancybox" href="http://fancyapps.com/fancybox/demo/2_b.jpg"><img src="http://fancyapps.com/fancybox/demo/2_s.jpg" alt="" /></a>
                        <a class="fancybox" href="http://fancyapps.com/fancybox/demo/3_b.jpg"><img src="http://fancyapps.com/fancybox/demo/3_s.jpg" alt="" /></a>
                    </div>
                </li>
                <li><a href="portfolio-single.html" class="fa fa-share" title="share"></a></li>
                <li><a href="#" class="fa fa-heart" title="Save"></a></li>
            </ul>

        </div>
    </div>
    <h3>Design trends</h3>
    <p>Morbi vitae urna venenatis, sagittis turpis at, ultricies sem. Mauris lobortis.</p>
</div>