@using Teamroom.Web.Views
@model HobbyClue.Web.ViewModels.DeckGridViewModel

<section id="portfolio" class="portfolio portfolio-2">

    <div class="grid">
        @foreach (var deck in Model.Decks)
        {
            @Html.Partial("Deck", deck)
        }
    </div>
</section>

