@using Teamroom.Web.Views
<script id="template-upload" type="text/x-tmpl">    
    <div class="template-upload"></div>
</script>

<script id="template-download" type="text/x-tmpl">
    <div class="template-download fade"></div>
</script>