@using Teamroom.Web.Views
<footer class="page-footer">
    <div class="page-footer-inner">
        <!-- secondary nav -->
        <nav class="secondary-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <!--/ secondary nav -->
        <!-- copyrights -->
        <div class="copyrights">© 2014 - HobbyClue. All rights reserved.</div>
        <!--/ copyrights -->
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</footer>
<a href="#" id="scroll-top" class="fa fa-angle-up" style="display: inline;"></a>