@using Teamroom.Web.Views
<header id="header" class="header">
    <div class="header__overflow js-nano-header nano has-scrollbar">
        <div class="nano-content" tabindex="0">
            <div class="header__inwrap">
                <div class="todo-sidebar">
                    <div class="portlet light">
                        <div>
                            <h2>Favorites</h2>
                        </div>
                        <div class="collapse in">
                            <div class="todo-project-list">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="javascript:;">AirAsia Ads</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">HSBC Promo</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:;">GlobalEx System</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Empire City</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">AirAsia Ads</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Loop Inc Promo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nano-pane"><div class="nano-slider"></div></div>
    </div>
</header>

<style>
    .header {
        text-align: left;
    }
    .nav-pills>li>a
     {
        color: #333;
        padding-left: 10px;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        background-color: #F89406;
        color: #fff;
        font-weight: 700;
    }
</style>