@using Teamroom.Web.Views
@model string
<div class="askaquestioncontainer" style="margin-bottom: 15px;">
    <div class="chat-form">
        <div>
            <input class="form-control newTitle open-editor" type="text" placeholder="@Model" />
        </div>
    </div>
    <textarea class="mdeditor" name="content" style="display: none;"></textarea>
</div>