@using Teamroom.Web.Views
<div class="row">
    <div class="col-md-12 page-error">
        <div class=" number">
            404
        </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                We can not find the page you're looking for.<br>
                <a href="index.html">
                    Return home
                </a>
                or try the search bar below.
            </p>
            <form action="#">
                <input type="text" placeholder="keyword...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>